.header__logo {
    max-width: 176px;
    max-height: 52px;
    min-width: 142px;
    min-height: 42px;
    position: absolute;
    left: 0;
}

@media screen and (width: 320px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }
}
