.place__paragraph {
  color: #ffffff;
  max-width: 484px;
  font-family: "Inter", "Arials", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  margin-top: 0;
  margin-bottom: 26px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 350px) and (max-width: 490px) {
  .place__paragraph {
	margin-top: 32px;
	font-size: 16px;
	line-height: 26.08px;
  }
}

@media screen and (max-width: 350px) {
  .place__paragraph {
	margin-left: 16px;
	margin-top: 32px;
	max-width: 288px;
  }
}

@media screen and (min-width: 490px) and (max-width: 766px) {
  .place__paragraph {
	max-width: 717.6px;
	margin-top: 32px;
  }
}

@media screen and (min-width: 1023px) and (max-width: 1025px) {
  .place__paragraph {
	width: 455px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .place__paragraph {
	width: 400px;
  }
}

@media screen and (min-width: 766px) and (max-width: 1023px) {
  .place__paragraph {
	font-size: 16px;
	line-height: 26.08px;
	width: 340px;
  }
}

