.cover__title {
  font-family: "Inter", "Arials", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #ffffff;
  max-width: 560px;
  min-width: 288px;
  margin: 0;
  z-index: 3;
}

@media screen and (max-width: 420px) {
  .cover__title {
	  font-size: 32px;
	  line-height: 35px;
  }
}

@media screen and (min-width: 420px) and (max-width: 499px) {
  .cover__title {
	  font-size: 52px;
	  line-height: 55px;
  }
}