.place__url-heading {
  color: #AAAAAA;
  font-family: "Inter", "Arials", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20.4px;
  margin-bottom: 12px;
  margin-top: 0;
  letter-spacing: 2px;
}

@media screen and (max-width: 897px) {
  .place__url-heading {
	  line-height: 12px;
  }
}